<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="wrapper">
        <!-- Header -->
        {% include header.html %}
        <!-- Chrome extension image -->
        <section>
            <div class="container">
                <img class="img-fluid object-fit-fill rounded mx-auto d-block my-2" src="https://arthurokonkwo.github.io/emojikey/assets/emoji-keyboard.jpg" alt="Emoji Keyboard">
            </div>
        </section>
        <!-- Features Section -->
        {% include features.html %}
        <!-- <section class="py-3" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5 text-center">
                    <div class="col-lg-4 mb-5 mb-lg-0 pb-lg-4">
                        <h1><i class="bi bi-calculator"></i></h1>
                        <h2 class="h4 fw-bolder">Floating Calculator</h2>
                        <p>Conveniently access the calculator while <br>browsing, saving time and effort.</p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0 pb-lg-4">
                        <h1><i class="bi bi-bar-chart"></i></h1>
                        <h2 class="h4 fw-bolder">Advanced Calculations</h2>
                        <p>Perform all calculations, from simple to <br>complex, with ease and accuracy.</p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0 pb-lg-4">
                        <h1><i class="bi bi-clock-history"></i></h1>
                        <h2 class="h4 fw-bolder">History Log</h2>
                        <p>Keep track of your calculations <br>for future reference.</p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0 pb-lg-4">
                        <h1><i class="bi bi-gear"></i></h1>
                        <h2 class="h4 fw-bolder">Customization Options</h2>
                        <p>Personalize the look and feel of the <br>calculator to your liking.</p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0 pb-lg-4">
                        <h1><i class="bi bi-alt"></i></h1>
                        <h2 class="h4 fw-bolder">Keyboard Shortcuts</h2>
                        <p>Save time with quick and easy <br>keyboard shortcuts.</p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0 pb-lg-4">
                        <h1><i class="bi bi-wallet"></i></h1>
                        <h2 class="h4 fw-bolder">Financial Calculations</h2>
                        <p>Quickly convert currency or loan tenure <br>or investment rates.</p>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- Footer -->
        <section>
            <div class="container text-center">
                <div class="row align-content-center py-4">
                    <p class="fw-normal fs-5 lead">Made by <a class="text-decoration-none" href="https://www.justiceo.com">Justice Ogbonna</a> in San Francisco</p>
                </div>
                <!-- Social links -->
                <ul class="list-inline social mb-5">
                    <li class="list-inline-item"><a class="text-reset" href="https://facebook.com/justice.ogb"><h1><i class="bi bi-facebook"></i></h1></a></li>
                    <li class="list-inline-item"><a class="text-reset" href="https://twitter.com/justice_mode"><h1><i class="bi bi-twitter"></i></h1></a></li>
                    <li class="list-inline-item"><a class="text-reset" href="https://instagram.com/justice.ogbonna"><h1><i class="bi bi-instagram"></i></h1></a></li>
                    <li class="list-inline-item"><a class="text-reset" href="https://github.com/justiceo"><h1><i class="bi bi-github"></i></h1></a></li>
                    <li class="list-inline-item"><a class="text-reset" href="mailto:hello@justiceo.com"><h1><i class="bi bi-envelope"></i></h1></a></li>
                </ul>
            </div>
        </section>
        <section>
            <div class="container text-center">
                <div class="row align-content-center py-4 my-5">
                    <div>
                        <a class="btn btn-outline-primary icon-link btn-lg px-5 py-2" href="#!">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-browser-chrome" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M16 8a8.001 8.001 0 0 1-7.022 7.94l1.902-7.098a2.995 2.995 0 0 0 .05-1.492A2.977 2.977 0 0 0 10.237 6h5.511A8 8 0 0 1 16 8ZM0 8a8 8 0 0 0 7.927 8l1.426-5.321a2.978 2.978 0 0 1-.723.255 2.979 2.979 0 0 1-1.743-.147 2.986 2.986 0 0 1-1.043-.7L.633 4.876A7.975 7.975 0 0 0 0 8Zm5.004-.167L1.108 3.936A8.003 8.003 0 0 1 15.418 5H8.066a2.979 2.979 0 0 0-1.252.243 2.987 2.987 0 0 0-1.81 2.59ZM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                              </svg>
                        Add to Chrome
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>